*.min.js linguist-detectable=false
*.min.css linguist-detectable=false
*.min.* linguist-detectable=false
*.bundle.js linguist-detectable=false
*.bundle.css linguist-detectable=false
*.bundle.js binary
*.min.js binary
*.bundle.css binary
*.min.css binary
